#header 
{
	background-color: #FDF8EA;
	padding: 15px;
	width: auto;
	height: 10vh;
	display:grid;
	grid-template-columns: auto auto auto;
}

#container
{
	height: 100vh;
	width: 100%;
}

#body
{
	width: auto;
	height: 100%;
	display:grid;
	grid-template-columns: auto auto auto auto;
	gap: 10px;
}

.header_Logo
{
	border-style: solid;
	background-color: white;
	text-align: center;
}

.header_function
{
	border-style: solid;
	text-align: center;
	grid-column: span 2;
}

.address
{
	border-style: solid;
	grid-row: 1;
}

.address h1
{
	padding: 10px;
}

.info
{
	border-style: solid;
	grid-column: 2 /span 3;
}

.info h1
{
	padding: 10px;
}

.info p
{
	padding: 10px;
}